#container {
    background: black;
    display: inline-block;
    border: 5px solid black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px;
    width: 960px;
    height: 960px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.filledCell {
    background-color: black;
}

.button {
    display: flex;
    justify-content: center;
}