* {
    text-align: center;
    background-color:darkred;
}

.header {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: cursive;
    color: goldenrod;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    background: black;
    display: inline-block;
    border: 5px solid black;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px;
    width: 960px;
    height: 960px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    background-color: whitesmoke;
    border-style: none;
    border-radius: 4px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 960px;
    min-width: 960px;

}

.leftbuttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rgbSlider {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 5px solid;
    border-radius: 4px;
    box-shadow: 2px;
}

.labelRed {
    display: flex;
    flex-direction: column;
}

.labelGreen {
    display: flex;
    flex-direction: column;
}

.labelBlue {
    display: flex;
    flex-direction: column;
}